# Flask server configuration.
FLASK_APP=todo_app/app
FLASK_ENV=production

SECRET_KEY=secret-key
TRELLO_API_KEY='{{ trello_api_key }}'
TRELLO_TOKEN='{{ trello_token }}'
TRELLO_BOARD_ID='HCnFLpMV'
TRELLO_BASE_URL= 'https://api.trello.com/1'
